:root {
    margin-right: calc(100vw - 100%);
    margin-left: 0;
    font-size: 62.5%;
    font-family: Helvetica;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}
body {
    width: 100%;
    height: 100%;
}
.content {
    padding-bottom: 7rem;
}

/* --- HEADER START --- */
header:not(.tf-header) {
    position: sticky;
    padding: 2rem;
    top: 0rem;
    height: 10rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    background: white;
    z-index: 1000;
}
.back-btn {
    margin-right: 1rem;
    height: 5rem;
    width: 4rem;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background: transparent;
    cursor: pointer;
}
.header-project-name {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
}
button {
    cursor: pointer;
}
.sort-container {
    margin-right: 1rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.sort-button {
    padding: 0;
    font-size: 1.7rem;
}
.refresh {
    margin-right: 1rem;
    width: 6rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: none;
    background: purple;
    color: white;
}
.progress-toggles-toggle,
.delete-toggle {
    width: 5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    border: none;
    background: red;
    color: white;
}
.progress-toggles-toggle {
    margin-right: 1rem;
    margin-left: auto;
    background: green;
}
.delete-toggle {
    margin-right: 0;
}
/* --- HEADER END --- */

/* --- TASKS START --- */
.task-list {
    border-top: 1px solid lightcoral;
}
.task-container {
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    transition: all .2s;
    white-space: pre-wrap;
}
.priority-high {
    background: pink;
}
.checkbox-container {
    align-self: flex-start;
    margin-top: .5rem;
    display: flex;
}
input[type="checkbox"] {
    display: none;
}
.task-label {
    position: relative;
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
    background: black;
    cursor: pointer;
}
input[type="checkbox"] + .task-label::after {
    content: "";
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    left: 2px;
    top: 2px;
    background: white;
    border: 2px solid white;
    transition: all .2s;
}
input[type="checkbox"] + .task-label:hover::after {
    background: grey;
}
input[type="checkbox"]:checked + .task-label::after {
    background: black;
}
.task-info-container {
    margin: 0 1.5rem 0 1rem;
    width: 100%;
}
.due-date {
    font-size: 1.5rem;
    color: black;
}
.past-due {
    color: red;
}
.task-form-btn,
.delete-btn {
    width: 2.25rem;
    min-width: 2.25rem;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: black;
    color: white;
}
.task-form-btn:hover {
    background: grey;
}
.complete-task .task-form-btn {
    background: grey;
}
.delete-btn {
    background: red;
}
.delete-btn:hover {
    background: darkred;
}
.name-change-input {
    font-size: inherit;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    white-space: pre-wrap;
}

.complete-task {
    font-style: italic;
    color: grey;
    background: skyblue;
}
.complete-task-list input[type="checkbox"]:checked + .task-label {
    background: grey;
}
.complete-task-list input[type="checkbox"]:checked + .task-label::after {
    background: grey;
}
.complete-task > .due-date {
    color: grey;
}
.empty-space {
    height: 8rem;
    width: 100%;
}
/* --- TASKS END --- */

/* --- NEW ITEM BUTTON START --- */
.demo-btn,
.clear-all-btn,
.new-item-btn {
    position: fixed;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5rem;
    background: blue;
    color: white;
    font-size: 2.7rem;
}
.new-item-btn:hover {
    background: darkblue;
}
.demo-btn {
    font-size: 1.8rem;
}
.clear-all-btn {
    width: 8rem;
    font-size: 1.8rem;
    background: red;
}
/* --- NEW ITEM BUTTON END --- */

/* --- TASK FORM START --- */
.tf-header {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    /* background: orange; */
}
.tf-checkbox-container {
    align-self: auto;
    margin-top: 0;
    margin-right: 1.2rem;
}
.tf-task-name {
    font-size: 2.5rem;
    text-decoration: underline;
}
.choice-label {
    margin-right: 1.3rem;
}
.choice-container {
    margin: 2rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
}
select {
    padding: 0 .4rem;
    min-width: 60%;
}
.tf-due-date-container {
    display: flex;
    align-items: center;
}
.completion-date {
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    color: grey;
}
.invisible {
    display: none;
}
/* --- TASK FORM END --- */

/* --- PROJECTS START --- */
.project-list {
    border-top: 1px solid lightcoral;
}
.project-container {
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    text-transform: capitalize;
    cursor: pointer;
}
.project-info-container {
    width: 100%;
}
.project-progress {
    margin-top: .5rem;
    height: 2rem;
}
.progress-bar-outer {
    padding: .2rem;
    display: flex;
    align-items: center;
    background: white;
    border: 3px solid grey;
    border-radius: 1rem;
}
.progress-bar-inner {
    height: 100%;
    background: green;
    border-radius: .5rem;
}
.remaining-tasks-num {
    font-size: 1.5rem;
}
/* --- PROJECTS END --- */

/* --- FOOTER START --- */
footer {
    position: fixed;
    bottom: 0rem;
    width: 100%;
    height: 7rem;
    display: flex;
    font-size: 2.5rem;
}
.footer-tab {
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-align: center;
    background: white;
    cursor: pointer;
}
.active-tab {
    background: orange;
}
/* --- FOOTER END --- */