:root {
    font-size: 62.5%;
    font-family: Helvetica;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}
body {
    width: 100%;
    height: 100%;
}
h1 {
    margin: 2rem;
}
.refresh {
    margin: 2rem;
    width: 10rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    /* text-align: center; */
    background: red;
    color: white;
    cursor: pointer;
}

/* --- TASKS START --- */
.task-list {
    border: 1px solid lightcoral;
}
.task-container {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
.priority-2 {
    background: pink;
}
.priority-1 {
    background: yellow;
}
.priority-0 {
    background: olivedrab;
}
.due-date {
    margin-left: 2.5rem;
    font-size: 1.5rem;
    color: greenyellow;
}
.past-due {
    color: red;
}
.complete-task {
    font-style: italic;
    color: grey;
    background: skyblue;
}
.complete-task > .due-date {
    color: grey;
}
/* --- TASKS END --- */

/* --- FOOTER START --- */
footer {
    width: 100%;
    height: 5rem;
    display: flex;
}
.footer-tab {
    width: calc(100%/3);
    border: 1px solid black;
    text-align: center;
}
/* --- FOOTER END --- */